body {
   width: 90%;
   max-width: 1500px;
   margin: 0 auto;
   border: 1px solid #bbc6c9;
}

html {
   background-color: #bbc6c9;
   scroll-behavior: smooth;
}

#wrapper {
   background-color: white;
   padding-bottom: 16px;
   padding-left: 16px;
   padding-right: 16px;
}

aside a, nav a {
   color: inherit;
   text-decoration: inherit;
}

aside a:hover, nav a:hover {
   color: inherit;
   text-decoration: inherit;
}

/* nav styles */
nav {
   padding-bottom: 16px !important;
   padding-top: 16px !important;
}

.nav-item {
   margin: auto 8px;
}

nav form {
   width: 29.5%;
}

nav ul {
   width: 70%;
}

nav ul li {
   width: 32%;
}

nav ul li a {
   width: 100%;
   color: white !important;
}

.c1 {
   background-color: #413acf !important;
}

.c2 {
   background-color: #2d8f19 !important;
}

.c3 {
   background-color: #992e18 !important;
}

nav form input {
   width: 70% !important;
}

nav form button {
   width: 25% !important;
}

.flexwrap {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	font-weight: bold;
   min-width: 250px;
}

.flexwrap:hover {
	cursor: pointer;
}

.logo {
	height: 90px;
}

.logo-text {
	font-size: 16pt !important;
}

/* End of nav styles */

main {
   margin: 24px;
   display: flex;
   flexwrap: wrap;
}

/* aside (guide navigation) styles */
aside {
   width: 30%;
   min-width: 303px;
   margin-right: 32px;
}

aside ul {
   padding: 0;
}

.list-group-item a {
   width: 100%;
   height: 100%;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 12px;
   padding-bottom: 12px;
   display: block;
}

.list-group-item {
   padding: 0px !important;
}

aside .list-group-item-primary {
   border-left: 3px solid blue !important;
}

aside .unselected:hover {
   background-color: lightgray !important;
}

aside img {
   height: 24px;
   padding-bottom: 4px;
   padding-right: 16px;
}

aside .btn {
   margin-top: 24px;
   width: 100%;
}
/* end of aside styles */

/* Article (main content) global styles */
article {
   margin-left: 24px;
   margin-right: 24px;
   width: 100%;
}

.c {
   margin-left: 16px;
}

.page-buttons {
   display: flex;
   justify-content: space-between;
   color: white;
}

.no-page {
   visibility: hidden !important;
}

/* Resources table styles */
.flexbar {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}

.resourcesbar {
   margin-bottom: 16px;
}

article table {
   margin-top: 24px;
   table-layout: fixed;
}

.t1 {
   width: 70%;
}

.t2 {
   width: 30%;
}

.th-icon, .td-icon {
   height: 24px;
   margin-right: 4px;
}

.td-icon {
   cursor: pointer;
}

article table a {
   color: black;
}

/* Search results styles */

.res {
   width: 90%;
   border: 2px solid lightgray;
   margin: 16px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 8px;
   padding-bottom: 0px;
}

/* Feedback form styles */
iframe {
   width: 100%;
   height: 1400px;
}






















