body {
   width: 70%;
   margin: 0 auto;
   border: 1px solid #bbc6c9;
}

html {
   background-color: #bbc6c9;
}

#wrapper {
   background-color: white;
   padding-bottom: 16px;
   padding-left: 16px;
   padding-right: 16px;
}



/* nav styles */
nav {
   padding-bottom: 16px !important;
   padding-top: 16px !important;
}

.nav-item {
   margin: auto 8px;
}

nav form {
   width: 30%;
}

nav ul {
   width: 70%;
}
nav ul li {
   width: 30%;
}

nav ul li button {
   width: 100%;
}

.c1 {
   background-color: #413acf !important;
}

.c2 {
   background-color: #2d8f19 !important;
}

.c3 {
   background-color: #992e18 !important;
}

nav form input {
   width: 70% !important;
}

nav form button {
   width: 25% !important;
}

/* End of nav styles */


main {
   margin: 24px;
   display: flex;
}

/* aside (guide navigation) styles */
aside {
   width: 25%;
   margin-right: 32px;
}

aside ul {
   padding: 0;
}

aside li {
   cursor: pointer;
}

aside .list-group-item-primary {
   border-left: 3px solid blue !important;
}

aside .unselected:hover {
   background-color: lightgray !important;
}

aside button {
   margin-top: 24px;
}
/* end of aside styles */


/* Article (main content) styles */
article {
   border: 1px solid black;
   width: 100%;
}
